/*generals styles*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: var(--font);
}
:root{
    --color-p1: hsl(25, 97%, 53%);
    --color-n1: hsl(0, 0%, 100%);
    --color-n2: hsl(217, 12%, 63%);
    --color-n3: hsl(216, 12%, 54%);
    --color-n4: hsl(213, 19%, 18%);
    --color-n5: hsl(216, 12%, 8%);
    --color-n6:hsla(216, 12%, 54%, .2);
    --font: "Overpass", sans-serif;
}
body{    
    background-color: var(--color-n5);
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/**styles**/
#container{
    width: 22rem;
    height: 23rem;
    background-color: var(--color-n4);
    padding: 2.5rem;
    border-radius: 1.88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

#container-img{
    background-image: url('../img/illustration-thank-you.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 6rem;
    width: 9rem;   
}

#container-note{
    color: var(--color-p1);    
    letter-spacing: .02em;    
    background-color: var(--color-n6);
    padding: 0.94rem 1.25rem;
    border-radius: 1.88rem;
}

#container-thanks{
    color: var(--color-n1);
    font-weight: 700;
    font-size: 2rem;  
}

#container-text{
    max-width: 35ch;
    font-size: .94em;
    color: var(--color-n3);    
    text-align: center;
    line-height: 1.8em;
}
@media (max-width: 500px) {
    #container{
    width: 18rem;
    height: 22rem;    
    padding: 1.5rem;    
    }
}
